.footer{
    width: 100%;
    height: 15rem;
    display: flex;
}

.bg-gradient{
    position: absolute;
    width: 100%;
    height: 15rem;
    /* background: linear-gradient(to bottom , rgb(255, 225, 220) 0% ,rgb(255, 157, 142) 10% ,rgb(246, 100, 75) 20% ,rgb(255, 138, 117) 40% ,rgb(247, 128, 107) 60% ,rgb(255, 85, 55) 80% ,rgb(116, 41, 255) 100%  ); */
}

.footlogo-container{
    border: none;
    outline: none;
    border-radius: 10px;
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 1;
}

.logo{
    width: 100%;
    height: inherit;
}

.footnav-container{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
}

.social{
    padding-top: 5%;
    height: 100%;
    width: 25%;
    display: grid;
    grid-template-columns: repeat(2 , minmax(0 , 1fr));
}

.icon{
    display: block;
    background-position: center;
    background-size: cover;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.navigation{
    display: flex;
    justify-content: center;
    font-size: 1.1rem;
    padding-top: 5%;
    border: 1px solid black;
    width: 25%;
    margin-left: 10px;
}

.contact{
    padding-top: 5%;
    border: 1px solid black;
    width: 25%;
    margin-left: 10px;
}

ul li{
    list-style: none;
}
